MONGODB_URI="mongodb+srv://<MongoAtlasUser>_db_user:<password>@cluster0.3g65uom.mongodb.net/"
EMAIL_PASS="<Google App Password>"
EMAIL_USER="<Google Email with App Password>"

//Example:
MONGODB_URI="mongodb+srv://moekamaleldin7_db_user:zaq1!QAZ@cluster0.3g65uom.mongodb.net/"
EMAIL_PASS="lxya bhfh jjru zjmc" //DeveloperOnly
EMAIL_USER="moekamaleldin7@gmail.com"


